.nav_left {
  margin-left: 100px;
  .slogan {
    font-size: 50px;
    .bg-neutral-100 {
      --tw-bg-opacity: 1;
      background-color: rgb(255 255 255 / var(--tw-bg-opacity));
      div {
        display: none;
      }
      .text-neutral-900 {
        --tw-text-opacity: 1;
        color: rgb(0 0 0 / var(--tw-text-opacity));
      }
    }
  }
}
